[package]
name = "tasks"
version = "0.2.0"
edition = "2021"

[dependencies]
i18n-embed-fl = "0.10.0"
rust-embed = "8"
open = "5.3.2"
dirs = "6.0.0"
cli-clipboard = "0.4.0"
slotmap = "1.0.7"
ron = "0.11.0"
thiserror = "2.0.17"
tracing = "0.1.41"

[dependencies.tracing-subscriber]
version = "0.3.20"
features = ["env-filter"]

[dependencies.libcosmic]
git = "https://github.com/pop-os/libcosmic.git"
default-features = false
features = ["multi-window", "tokio", "winit", "about", "wayland", "wgpu"]

[dependencies.i18n-embed]
version = "0.16.0"
features = ["fluent-system", "desktop-requester"]

[dependencies.serde]
version = "1"
features = ["derive"]

[dependencies.sqlx]
version = "0.8.6"
features = ["sqlite"]
default-features = false

[dependencies.chrono]
version = "0.4.42"
features = ["serde"]

[dependencies.uuid]
version = "1.18.1"
features = ["v4"]

[patch."https://github.com/smithay/client-toolkit.git"]
sctk = { package = "smithay-client-toolkit", version = "=0.19.2" }

# [patch."https://github.com/pop-os/libcosmic.git"]
# libcosmic = { path = "../../edfloreshz-ext/libcosmic" }
