[Desktop Entry]
Name=Tasks
Name[bg]=Задачи
Name[cs]=Úkoly
Name[de]=Tasks
Name[es]=Tareas
Name[es-419]=Tareas
Name[es-MX]=Tareas
Name[fr]=Tâches
Name[hi]=कार्य
Name[it]=Tasks
Name[ja]=Tasks
Name[nl]=Tasks
Name[pl]=Tasks
Name[pt]=Tarefas
Name[pt-BR]=Tarefas
Name[ru]=Задачи COSMIC
Name[sr-Cyrl]=COSMIC Задаци
Name[sr-Latn]=COSMIC Zadaci
Name[sv]=Tasks
Name[tr]=COSMIC Görevler
Name[uk]=Tasks
Name[zh-cn]=Tasks
GenericName=Task Manager
GenericName[bg]=Мениджър на задачи
GenericName[cs]=Správce úkolů
GenericName[de]=Aufgaben-Manager
GenericName[es]=Gestor de Tareas
GenericName[es-419]=Gestor de Tareas
GenericName[es-MX]=Gestor de Tareas
GenericName[fr]=Gestionnaire de Tâches
GenericName[hi]=कार्य प्रबंधक
GenericName[it]=Gestore di Attività
GenericName[ja]=タスクマネージャー
GenericName[nl]=Takenbeheer
GenericName[pl]=Menedżer zadań
GenericName[pt]=Gerenciador de Tarefas
GenericName[pt-BR]=Gerenciador de Tarefas
GenericName[ru]=Менеджер задач
GenericName[sr-Cyrl]=Менаџер задатака
GenericName[sr-Latn]=Menadžer zadataka
GenericName[sv]=Uppgiftshanterare
GenericName[tr]=Görev Yöneticisi
GenericName[uk]=Менеджер завдань
GenericName[zh-cn]=任务管理器
Exec=tasks %F
Terminal=false
Type=Application
StartupNotify=true
Icon=dev.edfloreshz.Tasks
Categories=Utility;
Keywords=Tasks; Management;Todo;Project;Planner;Organizer;Reminder;Checklist;Task;To-do;List;
Keywords[bg]=Задачи;Управление;Задача;Проект;Планировщик;Организатор;Напомняне;Списък;Задача;За-направяне;Списък;
Keywords[cs]=Tasks;Správa;Todo;Projekt;Plánovač;Organizátor;Připomínka;Seznam;Úkol;K-dokončení;Seznam;
Keywords[de]=Tasks;Verwaltung;Todo;Projekt;Planer;Organisator;Erinnerung;Checkliste;Aufgabe;Zu-erledigen;Liste;
Keywords[es]=Tareas;Gestión;Todo;Proyecto;Planificador;Organizador;Recordatorio;Lista de verificación;Tarea;Por-hacer;Lista;
Keywords[es-419]=Tareas;Gestión;Todo;Proyecto;Planificador;Organizador;Recordatorio;Lista de verificación;Tarea;Por-hacer;Lista;
Keywords[es-MX]=Tareas;Gestión;Todo;Proyecto;Planificador;Organizador;Recordatorio;Lista de verificación;Tarea;Por-hacer;Lista;
Keywords[fr]=Tâches;Gestion;Todo;Projet;Planificateur;Organisateur;Rappel;Liste de contrôle;Tâche;À-faire;Liste;
Keywords[hi]=कार्य;प्रबंधन;टूडू;प्रोजेक्ट;योजनाकार;व्यवस्थापक;रिमाइंडर;चेकलिस्ट;कार्य;करने-के-लिए;सूची;
Keywords[it]=Tasks;Gestione;Todo;Progetto;Pianificatore;Organizzatore;Promemoria;Lista di controllo;Attività;Da-fare;Lista;
Keywords[ja]=Tasks;管理;Todo;プロジェクト;プランナー;オーガナイザー;リマインダー;チェックリスト;タスク;やること;リスト;
Keywords[nl]=Tasks;Beheer;Todo;Project;Planner;Organisator;Herinnering;Checklist;Taak;Te-doen;Lijst;
Keywords[pl]=Tasks;Zarządzanie;Todo;Projekt;Planista;Organizator;Przypomnienie;Lista kontrolna;Zadanie;Do-zrobienia;Lista;
Keywords[pt]=Tasks;Todo;Projeto;Organizador;Lembrete;Checklist;Task;To-do;Lista;
Keywords[pt-BR]=Tarefas;Gerenciamento;Todo;Projeto;Planejador;Organizador;Lembrete;Lista de verificação;Tarefa;A-fazer;Lista;
Keywords[ru]=Задачи;Управление;Todo;Проект;Планировщик;Организатор;Напоминание;Чек-лист;Задача;К-выполнению;Список;
Keywords[sr-Cyrl]=Задаци;Управљање;Todo;Пројекат;Планер;Организатор;Подсетник;Листа за проверу;Задатак;За-урадити;Листа;
Keywords[sr-Latn]=Zadaci;Upravljanje;Todo;Projekat;Planer;Organizator;Podsetnik;Lista za proveru;Zadatak;Za-uraditi;Lista;
Keywords[sv]=Tasks;Hantering;Todo;Projekt;Planerare;Organisatör;Påminnelse;Checklista;Uppgift;Att-göra;Lista;
Keywords[tr]=Görevler;Yönetim;Todo;Proje;Planlayıcı;Düzenleyici;Hatırlatıcı;Kontrol listesi;Görev;Yapılacak;Liste;
Keywords[uk]=Tasks;Управління;Todo;Проект;Планувальник;Організатор;Нагадування;Чек-лист;Завдання;До-виконання;Список;
Keywords[zh-cn]=Tasks;管理;Todo;项目;计划器;组织者;提醒;检查清单;任务;待办;列表;
