@media (prefers-color-scheme: dark) {
    #screenshot {
        content: url("https://raw.githubusercontent.com/edfloreshz/orderly/main/res/screenshots/window-dark.png?raw=true");
    }

    html {
        background: linear-gradient(to right top, #634394, #2c3076);
    }
}

@media (prefers-color-scheme: light) {
    #screenshot {
        content: url("https://raw.githubusercontent.com/edfloreshz/orderly/main/res/screenshots/window-light.png?raw=true");
    }

    body {
        background: linear-gradient(to right top, #eee1ffff, #a8acfe);
    }
}
